/* #clockDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 5rem;
    font-family: 'Courier New', Courier, monospace;
    color: #fff;
    background-color: #ee5353;
    text-shadow: 0 0 10px #fff;
    box-shadow: 0 0 10px #fff;
    border-radius: 10px;
    padding: 10px;
} */

/* div {
    padding: 20px;
    border: 1px solid black;
    text-align: center;
  } */