div {
    background-color:white;
    border:  1px solid black;
    color: black;
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
    width: 550px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

/*all button 
6,7,8,9
5,4,3,2
1,0

*/

.button-container {
    display: flex;
    flex-wrap: wrap;
}

.button-Operator-container{
    display: flex;
    flex-wrap: wrap;
}
 
button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: block; 
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    width: 100px; 
    height: 100px;
}

.equal {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
    height: 100px;
}