/* Add new fonts without font family*/
@font-face {
    font-family: catchye;
    src: url(/Assets/Fonts/catchye/Catchye.otf);
}

h1 {
    text-align: center;
    font-size: 100px;
    font-family: catchye;
    transition: 2s;
    transform: rotate(-15deg) scale(0.5);
}

h1:hover {
    color: green;
    transform: rotate(15deg) scale(2);
}

/* Created anima */

@keyframes MyAnima {
    from {
        color: blue;
        transform: scale(1.5);
    }
    to {
        color: red;
        transform: scale(0.5);
    }
}

@keyframes MyLongAnima {
    0% {
        color: blue;
        transform: scale(1.5);
    }
    50% {
        color: green;
        transform: scale(3);
    }
    100% {
        color: red;
        transform: scale(0.5);
    }
}

p {
    text-align: center;
    margin-top: 50px;
}

p:hover {
    animation: MyLongAnima 3s infinite alternate linear;
}

/* התאמת תוכן לסוג המכשיר למשל מחשב לטלפון */
h2 {
    font-size: 16px;
}

@media (max-width: 600px){
    h2 {
        font-size: 32px;
    }
}

